.scrollContainer {
  margin-top: 7rem;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scrollContainer::-webkit-scrollbar {
display: none;
}

.scrollContainer::-webkit-scrollbar-thumb {
display: none;
}

.scrollContainer::-webkit-scrollbar-track {
 display: none;
}

.card {
  flex: 0 0 400px;
  overflow: hidden;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
 

.imageWrapper {
  height: 30rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition:0.3s ease;
}

.overlay {
  position: absolute;
  bottom: -100%; /* hidden below */
  width: 85%;
  height: 300px;
  border-radius: 20px;
   background: rgba(0, 0, 0, 0.781);
  backdrop-filter: blur(20px);
  color: rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  transition: bottom 0.3s ease;
}

.imageWrapper:hover .overlay {
  bottom: 30px; /* slide to center */
}

.imageWrapper:hover{
  opacity: 0.8;
}

.text {
  padding: 15px;
  font-size: var(--font-size-base);
}

.text h3 {
  margin: 0 0 10px 0;
}
