/* Mission.module.css */

.missionCon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.content {
  padding: 40px;
}

 

.heading {
  font-size: 3rem; /* Increased font size */
  margin: 20px 0;
  font-weight: bold;
}

.text {
  font-size: 1.5rem; /* Increased font size */
  line-height: 2.2rem; /* Adjust line-height for readability */
  margin: 15px 0;
}

.highlight {
  color: var(--accent-color);
  font-weight: 600;
}
